.single-art {
}

.art-page {
	padding: 100px 15px 50px;
	background: rgb(11, 11, 11);
	background: linear-gradient(
		-150deg,
		rgba(11, 11, 11, 1) 0%,
		rgba(181, 181, 181, 1) 80%,
		rgba(233, 227, 227, 1) 90%,
		rgba(255, 255, 255, 1) 100%
	);
	// margin: 0 auto;
	
	&__wrapper {
		display: flex;
		// justify-content: center;
		margin: 0 auto;
		max-width: 1865px;
		width: 100%;
	}

	&__content {
		margin-right: 30px;
	}

	& .single-art {
		padding: 5px;
		border-radius: 5px;
		width: 100%;
        
        &--landscape {
			min-width: 995px;
        }
		
        &--portrait {
			min-width: 710px;
        }

		&__image {
			width: 100%;
            margin-bottom: 30px;

			&--landscape {
				max-width: 1000px;
                height: 650px;
			}

			&--portrait {
				max-width: 710px;
                height: 950px;
			}

			& img {
				width: 100%;
				object-fit: cover;
			}
		}
	}
}
// 