.painting-slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
}

.hero__pick-slider {
    margin-left: 360px;

    .slick-slide  {
        height: 710px;
        display: flex !important;
        justify-content: flex-start;
        align-items: center;
        transition: all 0.5s ease-in-out;

        & div {
            width: 100%;

            & li {
                display: flex !important;
                justify-content: center;
            }
        }

        &.slick-cloned {
            & div {
    
                & .big {
                    opacity: 0;
                }
            }
        }

        &.slick-active.slick-current {
            & div {
    
                & .big {
                    opacity: 1;
                }
            }
        }
    }
}

.painting-info {
    max-width: 50%;
}

.painting-info h2 {
    font-size: 2em;
    margin: 0;
}

.painting-info p {
    margin: 5px 0;
}

.price {
    font-size: 2em;
    color: black;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 20px;
    display: inline-block;
}

.details-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
}



.hero__img-wrapper img {
    // display: block;
    position: relative;
    // object-fit: cover;
    z-index: 0;
    // box-shadow: 38px 20px 10px 47px rgba(0, 0, 0, 0.5);
    transform: rotate(-2deg);
}

.hero__img-wrapper {
    position: relative;
}

.hero__frame {
    position: absolute;
    z-index: 5;
    left: -135px;
    top: -120px;
    transform: rotate(-2deg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
} 