@import '../../../scss/global';
@import '../../../scss/vars';

.painting-card__item {
	background-color: #e7e7e7;
	border-radius: 5px;
	max-width: 262px;
	transition: box-shadow 0.3s ease-in-out;

	&.active {
		pointer-events: none;
		animation: pulse 1.5s infinite;

			@keyframes pulse {
				0% {
					transform: scale(1);
					opacity: 0.7;
					filter: grayscale(0.8);
				}
				50% {
					transform: scale(1.03);
					opacity: 0.9;
					filter: grayscale(0.7);
				}
				100% {
					transform: scale(1);
					opacity: 0.7;
					filter: grayscale(0.8);
				}
			}
	}

	&:hover {
		box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
	}

	.card {
		max-width: 262px;
		height: 100%;
		padding: 5px;
		overflow: hidden;
		z-index: 5;
		border-radius: 5px;
		background-color: #fff;

		&__img-wrapper {
			overflow: hidden;
			border-radius: 5px;
			position: relative;
			height: 320px;
			margin-bottom: 5px;

			& img {
				object-fit: cover;
				border-radius: 5px;
				transition: transform 0.3s ease-in-out;

				&:hover {
					transform: scale(1.02);
				}
			}

			& .card__label-new {
				position: absolute;
				background-color: $red;
				width: 50%;
				color: $white;
				text-align: center;
				transform: rotate(-40deg);
				left: -20px;
				top: 20px;
				z-index: 1;
				padding: 2px;
			}
		}

		&__content {
			padding: 5px;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		&__wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;

			&:not(:last-child) {
				margin-bottom: 5px;
			}
		}

		&__title-link {
			margin-bottom: 5px;
			@include line-clamp(1);

			& h2 {
				display: inline !important;
				font-size: 23px;
				font-weight: 600;
				border-bottom: 1px solid transparent;
				transition: border-bottom-color 0.3s ease-in-out;

				&:hover {
					border-bottom-color: $red;
				}
			}
		}

		&__price {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		&__author {
			font-size: 14px;
			@include line-clamp(1);

			span {
				border-bottom: 1px solid transparent;
				transition: border-bottom-color 0.3s ease-in-out;

				&:hover {
					border-bottom-color: $red;
				}
			}
		}

		&__element {
			font-weight: 600;
			margin-right: 5px;
		}

		&__items {
			display: flex;
			align-items: flex-start;
			font-size: 14px;
			margin-bottom: 5px;
		}

		&__material-list {
			display: flex;
			flex-wrap: wrap;
		}

		&__material {
			&:not(:last-child) {
				margin-right: 7px;
			}
		}
	}
}

.card__price--strike {
	text-decoration: line-through;
	color: #888;
	display: flex;
}

.card__sale {
	font-weight: bold;
	color: $red;
	margin-left: 5px;
}
