@import '../../../../../scss/vars';

.files-input {
    margin-bottom: 15px;

    & input {
        width: 100%;
        border: 1px solid $gray;
        border-radius: 5px;
        height: 40px;
        padding: 0 10px;
        font-size: 14px;
        color: $white;
        background-color: #282828;
    }
}