@import '../../scss/vars';

.header {
    padding: 7px 0 5px;
    background-color: #e8e6e6;
    max-width: 101%;
    width: 100%;
    transition: all 0.3s ease-in-out;

    &.scroll {
        position: sticky;
        top: 0;
        z-index: 10;
        padding: 3px 0px 0px;
    }

    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__search__btn {
        // padding: 8px 10px  !important;
        border-radius: 50%;
        border: 1px solid transparent !important; 
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
        transition: all 0.3s ease-in-out;

        &.open {
            position: relative;
            right: -460px;
            box-shadow: rgba(0, 0, 0, 0.35) 3px 5px 10px;
            border-color: $gray-500;
            color: $black;

            &:hover {
                color: $red;
            }
        }

        &:hover {
            box-shadow: rgba(0, 0, 0, 0.35) 3px 5px 10px;
            border-color: $gray-500;
            color: $red;
        }
    }

    &__nav__list {
        display: flex;
        align-items: center;
        
        li:not(:last-child) {
            margin-right: 70px;
        }
    }

    &__nav__button {
        background-color: #ccc ;
        padding: 5px 10px !important;
    }

    &__nav__dropdown {
        border-bottom: 2px solid transparent;
        transition: border-bottom-color 0.3s ease-in-out;

        &:hover {
            border-bottom-color: $red;
        }
    }
}