@import '../../scss/vars';

.header {
    padding: 7px 0 5px;
    background-color: #e8e6e6;
    max-width: 101%;
    width: 100%;
    transition: all 0.3s ease-in-out;

    &.scroll {
        position: sticky;
        top: 0;
        z-index: 10;
        padding: 3px 0px 0px;
    }

    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__nav__list {
        display: flex;
        align-items: center;
        
        li:not(:last-child) {
            margin-right: 70px;
        }
    }

    &__nav__button {
        background-color: #ccc ;
        padding: 5px 10px !important;
    }

    &__nav__dropdown {
        border-bottom: 2px solid transparent;
        transition: border-bottom-color 0.3s ease-in-out;

        &:hover {
            border-bottom-color: $red;
        }
    }
}